## Part 1: Extract the questions

In [1]:
import pandas as pd
import re

In [2]:
ols_data = pd.read_csv("ols_animal_research_survey_data_2016.csv")

In [3]:
with open("ols_animal_research_survey_data_2016_ukda_data_dictionary.rtf") as file:  
    data = file.read()

In [4]:
# data

In [5]:
question_tuples = re.findall('(Variable\slabel\s=\s\}\{\\\\cf4\s)([\d\w\s\?\.\:\,]*)', data)
question_tuples[0:5]

[('Variable label = }{\\cf4 ', 'Respondent serial'),
 ('Variable label = }{\\cf4 ',
  'How well informed do you feel about the use of animals in scientific research in the UK?'),
 ('Variable label = }{\\cf4 ',
  'Interested in finding out more about the ongoing work to find alternatives to using animals in research?'),
 ('Variable label = }{\\cf4 ',
  'Interested in finding out more about the ongoing work to improve the welfare of animals in scientific research?'),
 ('Variable label = }{\\cf4 ',
  'I can accept the use if animals in research as long as it is for medical research purposes and there is no alternative')]

In [28]:
var_name_tuples = re.findall('(Variable\s=\s\}\{\\\\f2\\\\fs20\\\\cf4\s)([\d\w]*)', data)

In [7]:
cleaned_data = pd.DataFrame()

In [8]:
for tuple in enumerate(question_tuples):
    survey_num = 1
    survey_id = "OLSAnimal"
    survey_name = "Public Attitudes towards Animal Research 2016"
    var_name = var_name_tuples[tuple[0]][1]
    question = tuple[1][1]
    link = "http://bit.ly/2oAtsPs"
    cleaned_data = cleaned_data.append([[survey_num, survey_id, survey_name, var_name, question, link]], ignore_index=True)

In [9]:
cleaned_data.columns = ["Survey_Number","Survey_ID", "Survey_Name", "Var_Name", "Var_Text", "Data_Link"]
cleaned_data.head()

,Survey_Number,Survey_ID,Survey_Name,Var_Name,Var_Text,Data_Link
0,1,OLSAnimal,Public Attitudes towards Animal Research 2016,ID,Respondent serial,http://bit.ly/2oAtsPs
1,1,OLSAnimal,Public Attitudes towards Animal Research 2016,Q1,How well informed do you feel about the use of...,http://bit.ly/2oAtsPs
2,1,OLSAnimal,Public Attitudes towards Animal Research 2016,Q2a,Interested in finding out more about the ongoi...,http://bit.ly/2oAtsPs
3,1,OLSAnimal,Public Attitudes towards Animal Research 2016,Q2b,Interested in finding out more about the ongoi...,http://bit.ly/2oAtsPs
4,1,OLSAnimal,Public Attitudes towards Animal Research 2016,Q3a,I can accept the use if animals in research as...,http://bit.ly/2oAtsPs

In [10]:
len(cleaned_data)

248

In [11]:
num = 248/3
num

82.66666666666667

In [12]:
ols_data_1 = cleaned_data[0:82]
ols_data_2 = cleaned_data[82:165]
ols_data_3 = cleaned_data[165:248]

In [13]:
cleaned_data[0:82]["Survey_ID"] = "OLSAnimal1"
cleaned_data[0:82]["Survey_Name"] = "Public Attitudes towards Animal Research 2016-1"
cleaned_data[82:165]["Survey_ID"] = "OLSAnimal2"
cleaned_data[82:165]["Survey_Name"] = "Public Attitudes towards Animal Research 2016-2"
cleaned_data[82:165]["Survey_Number"] + 1
cleaned_data[165:248]["Survey_ID"] = "OLSAnimal3"
cleaned_data[165:248]["Survey_Name"] = "Public Attitudes towards Animal Research 2016-3"
cleaned_data[165:248]["Survey_Number"] + 2

/Users/bethanybailey/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/bethanybailey/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/bethanybailey/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/bethanybailey/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/bethanybailey/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/bethanybailey/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

165    3
166    3
167    3
168    3
169    3
170    3
171    3
172    3
173    3
174    3
175    3
176    3
177    3
178    3
179    3
180    3
181    3
182    3
183    3
184    3
185    3
186    3
187    3
188    3
189    3
190    3
191    3
192    3
193    3
194    3
      ..
218    3
219    3
220    3
221    3
222    3
223    3
224    3
225    3
226    3
227    3
228    3
229    3
230    3
231    3
232    3
233    3
234    3
235    3
236    3
237    3
238    3
239    3
240    3
241    3
242    3
243    3
244    3
245    3
246    3
247    3
Name: Survey_Number, Length: 83, dtype: int64

In [14]:
cleaned_data.head()

,Survey_Number,Survey_ID,Survey_Name,Var_Name,Var_Text,Data_Link
0,1,OLSAnimal1,Public Attitudes towards Animal Research 2016-1,ID,Respondent serial,http://bit.ly/2oAtsPs
1,1,OLSAnimal1,Public Attitudes towards Animal Research 2016-1,Q1,How well informed do you feel about the use of...,http://bit.ly/2oAtsPs
2,1,OLSAnimal1,Public Attitudes towards Animal Research 2016-1,Q2a,Interested in finding out more about the ongoi...,http://bit.ly/2oAtsPs
3,1,OLSAnimal1,Public Attitudes towards Animal Research 2016-1,Q2b,Interested in finding out more about the ongoi...,http://bit.ly/2oAtsPs
4,1,OLSAnimal1,Public Attitudes towards Animal Research 2016-1,Q3a,I can accept the use if animals in research as...,http://bit.ly/2oAtsPs

In [15]:
ols_data_2 = ols_data_2.reset_index()
ols_data_3 = ols_data_3.reset_index()
ols_data_2.head()

,index,Survey_Number,Survey_ID,Survey_Name,Var_Name,Var_Text,Data_Link
0,82,1,OLSAnimal2,Public Attitudes towards Animal Research 2016-2,Q7_20,Sources of balanced information about use of: Don,http://bit.ly/2oAtsPs
1,83,1,OLSAnimal2,Public Attitudes towards Animal Research 2016-2,Q8_1,Receive information about use of animals in re...,http://bit.ly/2oAtsPs
2,84,1,OLSAnimal2,Public Attitudes towards Animal Research 2016-2,Q8_2,Receive information about use of animals in re...,http://bit.ly/2oAtsPs
3,85,1,OLSAnimal2,Public Attitudes towards Animal Research 2016-2,Q8_3,Receive information about use of animals in re...,http://bit.ly/2oAtsPs
4,86,1,OLSAnimal2,Public Attitudes towards Animal Research 2016-2,Q8_4,Receive information about use of animals in re...,http://bit.ly/2oAtsPs

In [16]:
ols_data_2 = ols_data_2.drop('index', axis=1)
ols_data_3 = ols_data_3.drop('index', axis=1)

In [17]:
ols_data_1["Survey_ID"] = "OLSAnimal1"
ols_data_1["Survey_Name"] = "Public Attitudes towards Animal Research 2016-1"
ols_data_1.head()

/Users/bethanybailey/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/bethanybailey/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Survey_Number,Survey_ID,Survey_Name,Var_Name,Var_Text,Data_Link
0,1,OLSAnimal1,Public Attitudes towards Animal Research 2016-1,ID,Respondent serial,http://bit.ly/2oAtsPs
1,1,OLSAnimal1,Public Attitudes towards Animal Research 2016-1,Q1,How well informed do you feel about the use of...,http://bit.ly/2oAtsPs
2,1,OLSAnimal1,Public Attitudes towards Animal Research 2016-1,Q2a,Interested in finding out more about the ongoi...,http://bit.ly/2oAtsPs
3,1,OLSAnimal1,Public Attitudes towards Animal Research 2016-1,Q2b,Interested in finding out more about the ongoi...,http://bit.ly/2oAtsPs
4,1,OLSAnimal1,Public Attitudes towards Animal Research 2016-1,Q3a,I can accept the use if animals in research as...,http://bit.ly/2oAtsPs

In [18]:
ols_data_2["Survey_Number"] += 1
ols_data_2["Survey_ID"] = "OLSAnimal2"
ols_data_2["Survey_Name"] = "Public Attitudes towards Animal Research 2016-2"
ols_data_2.head()

,Survey_Number,Survey_ID,Survey_Name,Var_Name,Var_Text,Data_Link
0,2,OLSAnimal2,Public Attitudes towards Animal Research 2016-2,Q7_20,Sources of balanced information about use of: Don,http://bit.ly/2oAtsPs
1,2,OLSAnimal2,Public Attitudes towards Animal Research 2016-2,Q8_1,Receive information about use of animals in re...,http://bit.ly/2oAtsPs
2,2,OLSAnimal2,Public Attitudes towards Animal Research 2016-2,Q8_2,Receive information about use of animals in re...,http://bit.ly/2oAtsPs
3,2,OLSAnimal2,Public Attitudes towards Animal Research 2016-2,Q8_3,Receive information about use of animals in re...,http://bit.ly/2oAtsPs
4,2,OLSAnimal2,Public Attitudes towards Animal Research 2016-2,Q8_4,Receive information about use of animals in re...,http://bit.ly/2oAtsPs

In [19]:
ols_data_3["Survey_Number"] += 2
ols_data_3["Survey_ID"] = "OLSAnimal3"
ols_data_3["Survey_Name"] = "Public Attitudes towards Animal Research 2016-3"
ols_data_3.head()

,Survey_Number,Survey_ID,Survey_Name,Var_Name,Var_Text,Data_Link
0,3,OLSAnimal3,Public Attitudes towards Animal Research 2016-3,Q12b_19,Animals acceptable to use for Research into: H...,http://bit.ly/2oAtsPs
1,3,OLSAnimal3,Public Attitudes towards Animal Research 2016-3,Q12b_20,Animals acceptable to use for Research into: A...,http://bit.ly/2oAtsPs
2,3,OLSAnimal3,Public Attitudes towards Animal Research 2016-3,Q12b_21,Animals acceptable to use for Research into: O...,http://bit.ly/2oAtsPs
3,3,OLSAnimal3,Public Attitudes towards Animal Research 2016-3,Q12b_22,Animals acceptable to use for Research into: N...,http://bit.ly/2oAtsPs
4,3,OLSAnimal3,Public Attitudes towards Animal Research 2016-3,Q12b_23,Animals acceptable to use for Research into: Don,http://bit.ly/2oAtsPs

In [20]:
ols_data_1.to_csv(path_or_buf="OLSAnimal_cleaned_1.csv")
ols_data_2.to_csv(path_or_buf="OLSAnimal_cleaned_2.csv")
ols_data_3.to_csv(path_or_buf="OLSAnimal_cleaned_3.csv")

In [21]:
cleaned_data.to_csv(path_or_buf="OLSAnimal_cleaned_joined.csv")

## Part 2: Create the survey CSV

In [22]:
len(ols_data_3)

83

In [23]:
d = {"Survey_Number": [1, 2, 3], "Survey_ID": ["OLSAnimal1", "OLSAnimal2", "OLSAnimal3"],
    "Survey_Name": ["Public Attitudes towards Animal Research 2016-1", "Public Attitudes towards Animal \
    Research 2016-2", "Public Attitudes towards Animal Research 2016-3"], "Num_Participants": [987, 987, 987], \
    "Org_Conduct": ["IPSOS", "IPSOS", "IPSOS"], "Num_Questions": [84, 83, 83], "Data_Link": \
    ["http://bit.ly/2oAtsPs", "http://bit.ly/2oAtsPs", "http://bit.ly/2oAtsPs"], \
    "Documentation_Link": ["http://bit.ly/2EYnxyx", "http://bit.ly/2EYnxyx", "http://bit.ly/2EYnxyx"],\
     "Source_Link": ["http://bit.ly/2CsBSlr", "http://bit.ly/2CsBSlr", "http://bit.ly/2CsBSlr"],\
     "Summary": ["Part 1 of findings of a \
        2016 survey on current public awareness and attitudes towards the use of animals in research. The \
        survey also examines attitudes towards, and trust in, the regulatory system and the people who work \
        with animals in research.",
                 "Part 2 of findings of a \
        2016 survey on current public awareness and attitudes towards the use of animals in research. The \
        survey also examines attitudes towards, and trust in, the regulatory system and the people who work \
        with animals in research.", 
                 "Part 3 of findings of a \
        2016 survey on current public awareness and attitudes towards the use of animals in research. The \
        survey also examines attitudes towards, and trust in, the regulatory system and the people who work \
        with animals in research."]}

In [24]:
detail = pd.DataFrame(data=d, columns = ["Survey_Number", "Survey_ID", "Survey_Name", "Num_Participants", \
                      "Org_Conduct", "Num_Questions", "Data_Link", "Documentation_Link", "Source_Link", \
                      "Summary"])

In [25]:
detail

,Survey_Number,Survey_ID,Survey_Name,Num_Participants,Org_Conduct,Num_Questions,Data_Link,Documentation_Link,Source_Link,Summary
0,1,OLSAnimal1,Public Attitudes towards Animal Research 2016-1,987,IPSOS,84,http://bit.ly/2oAtsPs,http://bit.ly/2EYnxyx,http://bit.ly/2CsBSlr,Part 1 of findings of a 2016 survey on...
1,2,OLSAnimal2,Public Attitudes towards Animal Research 2...,987,IPSOS,83,http://bit.ly/2oAtsPs,http://bit.ly/2EYnxyx,http://bit.ly/2CsBSlr,Part 2 of findings of a 2016 survey on...
2,3,OLSAnimal3,Public Attitudes towards Animal Research 2016-3,987,IPSOS,83,http://bit.ly/2oAtsPs,http://bit.ly/2EYnxyx,http://bit.ly/2CsBSlr,Part 3 of findings of a 2016 survey on...

In [26]:
detail.to_csv(path_or_buf="OLS_Survey_Detail.csv")